.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.solution {
  background-color: #083797;
  min-height: 95vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sheet__wrapper {
  background-color: rgb(6, 10, 117);
  padding: 25px 35px;
  display: flex;
}

.cell {
  display: flex;
  flex-direction: column;
}

.cell input {
  text-align: center;
  margin-top: .3rem;
  font-size: 14px;
  padding: .2rem .5rem;
}

.cell input:focus {
  outline: none;
}

.cell label {
  font-size: 18px;
}